/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=====================================*/
main {
    margin-left: 50px;
    margin-top: 30px;
}

h1 {
    font-size: 38px;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px ;
}
.red {
    height: 150px;
    width: 150px;
    background-color: brown;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
}
.box2, .box3{
    display: inline-block;
}
.box4, .box5{
    display: inline-block;
}
.box1 {
    border: 5px solid black;
}
.box2 {
    border: 5px double black;
}
.box3 {
    border: 5px dashed black;
}
.box4 {
    border: 5px dotted black;
}
.box5 {
    border: 5px solid black;
}
.big-box {
    margin-top: 50px;
    margin-bottom: 150px;
    width: 350px;
    padding: 15px;
    background-color: #f54848;
    color: #fff;
    line-height: normal;
    text-align: justify;
    border-left: 15px solid rgb(45, 169, 20);
    border-right: 15px solid rgb(91, 91, 91);
    border-top: 15px solid rgb(11, 87, 220);
    border-bottom: 15px solid rgb(228, 237, 52);
    outline: 20px solid #830483;

}